body{
    padding-top: 50px;
}
header {
    height:100px;
    background:-webkit-linear-gradient(left,#0089c5 0%,#0089c5 130%);
    background-color:#0089c5;
    padding:5px;
    margin:5px;
    text-align:center;
}
footer {
    height:100px;
    background:-webkit-linear-gradient(left,#0C5C92 0%,#0C5C92 130%);
    background-color:#0C5C92;
    padding:5px;
    text-align:center;
}
.footer .footerContents a, #app.signin span {
    color: #fff;
    padding: 0 15px;
}
.footer{
     height:auto !important;
    position: fixed;
bottom: 0;
width: 100%;
margin: 0 auto;
color: #fff;
text-align: center;
background-color: #0C5C92;
}
 .footer .footerContents {
    margin: 0 auto;
    padding: 17px 5px;
}
.container-fluid{
    color: white !important;
}
.leftNav, .releted-content{
padding:5px;
/*background-color:lightgray;*/
min-height:730px;
}

.main-content {

}

#myNavbar ul.nav li a:hover,
#myNavbar ul.nav li:hover a,
#myNavbar ul.nav li a:focus,
#myNavbar ul.nav li:focus a,
#myNavbar .current-menu-parent a,
#myNavbar .current-menu-parent {
    background:#0C5C92 !important;
}
.menu li a {
    border-color: #ddd;
    padding-left: 15px;
    background-color: transparent;
    background: -webkit-linear-gradient(left,#529525 0%,#e8f710 130%);
    margin: 1px;
    display:block;
    width:100%;
    padding: 5px;
    color: Black;
}
.sidebar-nav {
    display: block;
    padding: 5px 15px;
    color: #333;
    font-size:15px;
    text-decoration: none;
    border-left: solid 3px #333;
    background-color: #f3f3f3;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.article-footer {
    background-color:#f3f3f3;
    border: 1px solid #ddd;
    margin:auto;
}

.btn-danger:active, .btn-danger.active {
    background-color:forestgreen;
    border:1px solid green;
}

.tooltip.top .tooltip-arrow {
    border-top-color:forestgreen;
}

.tooltip-inner {
    background-color:forestgreen;
}

.loginbg{
	background: url(../images/bg2.JPG) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color: #fff;
}

@media (min-width: 320px) and (max-width: 350px) {
     .login-form{
     	width: 280px !important;
     }
}

@media (min-width: 350px) and (max-width: 500px) {
     .login-form{
     	width: 300px !important;
     }
     
}

@media (min-width: 320px) and (max-width: 1023px) {
     body{
		background: url(../images/small-bg2.jpg) no-repeat center center fixed; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		background-color: #fff;
	}
}

@media (min-width: 1024px) and (max-width: 1360px) {
     body{
		background: url(../images/medium-bg2.jpg) no-repeat center center fixed; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		background-color: #fff;
	}
}

@media (min-width: 1361px) and (max-width: 1960px) {
     body{
		background: url(../images/bg2000.jpg) no-repeat center center fixed; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		background-color: #fff;
	}
}
#background-carousel{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-1;
        
}
.carousel,
.carousel-inner {
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}
.item {
	width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	z-index:0;
}
 
#content-wrapper {
	position:absolute;
	z-index:1 !important;
	min-width:100%;
	min-height:100%;
        background: rgba(74, 62, 62, 0.5) none repeat scroll 0% 0%;
}
.well {
    opacity:0.85
}
.login-form {
   background: #EDF0F3;
   width:440px;
   margin: 4% auto;
   opacity: 0.92;
   
}
.form-signin{
    padding: 20px;
}
.title{font-family: Pacifico;text-decoration: underline;}


.form-footer {
	padding: 15px 40px;	
}
.bt-login{
	background-color: #0084bf;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
    border-radius: 5px;
    margin-bottom: 15px;
}
.bt-login:active,.bt-login:hover, .bt-login.focus {
 background-color: #0173a7;  
 color: #ffffff;
}

.form-signin .form-control{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus{
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 30px;
  margin-bottom: 30px;
border-radius: 0;
margin-top: 10px;
}
i{color:#fff}
a{text-decoration: none;color:#555555;}
.logotext
{
    color: #283e4a;
font-size: 30px;
font-weight: 500;
}
.tagline{
text-align: left;
color: rgb(40, 62, 74);
font-size:17px;
margin-top: 10px;
margin-bottom: 20px;
}
.NetworkLogo{
    text-align: center;
background: rgb(246, 248, 250) none repeat scroll 0% 0%;
padding: 20px;
border-bottom: 1px solid rgba(0,0,0,0.15);
}


#bg-one img, #bg-two img, #bg-third img{ 
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#gSignIn>div
{
    margin-top: 15px;
border-radius: 5px;
}
.error{
    color: red;
    
}
.topWrapper .toolbar, .topWrapper.closed:hover .toolbar, .topWrapper.open .toolbar, .topWrapper:focus .toolbar{
position: relative;
height: 54px;
padding: 0px 20px;
background: rgb(45, 50, 55) none repeat scroll 0% 0%;
-moz-transition: all .3s;
-webkit-transition: all .3s;
-o-transition: all .3s;
transition: all 0.3s ease 0s;
color: white;
}
.topWrapper .toolbar .logo, .topWrapper .toolbar .logo a, .topWrapper .toolbar .tagline, .topWrapper.closed:hover .toolbar .logo, .topWrapper.closed:hover .toolbar .tagline, .topWrapper.open .toolbar .logo, .topWrapper.open .toolbar .tagline, .topWrapper:focus .toolbar .logo, .topWrapper:focus .toolbar .tagline{
    float: left;
overflow: hidden;
width: auto;
line-height: 50px;
transition: all 0.3s ease 0s;
color: white !important;
font-size: 23px;
font-weight: bold;
}

.alwayslearning
{
    margin: 15px;
position: relative;
float: right;
height: 8px;
width: auto;
}
.navbar-inverse{
    background-color: #0089c5 !important;
border-color: #0089c5;
}
.navbar {
    border-radius: 0px;
}
.navbar-inverse .navbar-brand {
    color: #fff !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #0089c5;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #0C5C92 !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.btn-default {
    color: #fff;
    background-color: #0C5C92 !important;
    border: 1px solid #0C5C92;
}
.form-control{
    border: 1px solid #ccc;
border-radius: 0px;
}
.btn
{
    border: 1px solid #0C5C92 !important;
border-radius: 0px; 
}
.navbar{
    margin-bottom: 0px;
}
.form-footer i
{
    color: #555555 !important;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.btn-affermative {
    background-color: #82b92d !important;
    color: #FFF !important;
    border: 0 !important;
}


.btn-affermativeOne {
    background-color: #0089c5 !important;
    color: #FFF !important;
    border: 0 !important;
}

.paddingL0
{
    padding-left: 0px !important
}

.paddingR0
{
    padding-right: 0px !important
}

.paddingT0
{
    padding-top: 0px !important
}
.paddingB0
{
    padding-bottom: 0px !important
}

button.btn.dropdown-toggle.btn-default {
    background-color: #f7f7f7 !important;
    border-radius: 0;
    border: 1px solid #CECECE!important;
    padding: 10px 20px;
    color: #333 !important;
}
.dropdown-menu.open {
    box-shadow: 0 2px 1px rgba(0, 0, 0, .175) !important;
    border-radius: 0 !important;
}
.input-lg{
    font-size: inherit;
}
#IncompleteRegForm .btn-group.form-control
{
    padding:0px !important;
}
#IncompleteRegForm
{
    overflow-y: hidden;
}
.ui-widget-content
{
    z-index: 10000;
}
.ui-autocomplete-multiselect, .ui-autocomplete-input
{
    width:100% !important;
}
.ui-autocomplete-multiselect-item
{
    padding: 5px;
}
.ui-icon.ui-icon-close
{
    float:right;
}
.marginB5
{
    margin-bottom: 5px !important;
}
.marginT5
{
    margin-top: 5px !important;
}
.marginR5
{
    margin-right: 5px !important;
}
.marginL5
{
    margin-left: 5px !important;
}
.marginB0
{
    margin-bottom: 0px !important;
}
.marginT0
{
    margin-top: 0px !important;
}
.marginR0
{
    margin-right: 0px !important;
}
.marginL0
{
    margin-left: 0px !important;
}
.marginB20
{
    margin-bottom: 20px !important;
}
.marginT20
{
    margin-top: 20px !important;
}
.marginR20
{
    margin-right: 20px !important;
}
.marginL20
{
    margin-left: 20px !important;
}
.width100Per
{
    width:100% !important;
}
.error {color: #FF0000;}

#post-data a
{
    text-decoration: none !important;
color: #0089c5;
}


/* Create two equal columns that floats next to each other */
.contcolumn {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    text-align: left;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.176) !important;
margin-top: 25px;
padding-bottom: 20px !important;
padding-left: 20px !important;
margin-left: -10px !important;
padding-right: 20px !important;
}

/* Clear floats after the columns */
.controw::after {
    content: "";
    display: table;
    clear: both;
}
.controw{
    text-align: center;
}
ul.list-row-tags {
    display: inline;
    vertical-align: top;
    margin: 0px;
    padding: 0;
    list-style: none;
    margin-left: 0px !important;
}
.list-row-tags li, .list-row-tags li a {
    background: #F7F7F7;
    font-family: Proxima Nova Regular !important;
    font-size: 14px !important;
    color: #0089c5 !important;
    cursor: pointer !important;
    padding: 5px 10px 5px 10px !important;
    margin: 0 5px 5px 0 !important;
    display: inline;
}
ul.list-row-tags > li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0 5px 0 0;
}
.wall-blog-btm-banner {
    padding: 15px 20px 15px 20px !important;
    background: #fbfbfb;
    margin-left: 0px !important;
    margin-top: 3px !important;
    box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.176) !important;
    margin-bottom: 15px;
}
.blog-postdate {
    font-family: Proxima Nova Regular;
    font-size: 14px;
    color: #ccc;
    float: right;
}
.breadcrumb {
    border-radius: 0 !important;
    padding: 0px !important;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0px !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.176) !important;
}
.breadcrumb a, .breadcrumb span {
    text-transform: uppercase;
    color: #0089c5 !important;
}
.moduleContainer-normalView
{
    float: left;
width: 100%;
margin-right: 0px;
margin-top: 20px;
}
.moduleContainer-normalView > .breadcrumb {
    width: 100%;
    float: left;
    padding: 22px 20px 11px 20px !important;
}
.blog-detail-container {
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.176) !important;
    background: #fff;
    float: left;
    width: 100%;
    display: block;
}
.title-container {
    float: left;
    margin-top: 10px;
    width: 100%;
    padding: 0px 20px !important;

}
.title-container h3 {
    margin-top: 0px !important;
    color: #5C5C5C;
}
.detail-main-container {
    padding: 25px 20px 20px 20px;
    float: left;
    width: 100%;
    display: block;
}
a.SocialLink{
    color:#0089c5;
}
.editBtn
{
    float: right;
border: medium none;
background: transparent none repeat scroll 0% 0%;
color: rgb(0, 137, 197);
}
#answerbody{
    border: 0px none transparent;
background: transparent none repeat scroll 0% 0%;
box-shadow: none;
}
#postAnswerCont
{
    border: 1px solid lightgray;
}
.consult_img
{
    float:right;
    width:50px;
}
a.content_answer,a.content_answer:focus, a.content_answer:hover,a.content_answer:visited
{
    text-decoration: none !important;
    color:#333 !important;
}
.borderbottom
{
    border-bottom: 1px solid lightgray;
}
.padding20
{
    padding:20px;
}
.container
{
    margin-bottom: 50px;
}
.navbar-brand{
    padding: 5px 15px !important;
}
.smdlogo
{
    width: 100px;
margin-top: -29px;
}
.tag{
    padding:25px 20px 20px 20px
}
